{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-center items-center h-auto bg-gray-100">
        <div class="max-w-3xl bg-white p-4 rounded-lg shadow-md border border-gray-200 animate__animated animate__fadeIn w-full flex flex-wrap-reverse md:flex-nowrap items-center">
            <div class="md:w-1/2 md:pr-4">
                <h1 class="text-3xl font-bold mb-2">CodeCrafters S.A de C.V</h1>
                <p>
                    CodeCrafters, fundada en 2010 en San Salvador, El Salvador, comenzó haciendo aplicaciones para pequeñas empresas. Con el tiempo, se expandieron a consultoría y soluciones empresariales,
                     ganando reputación por su calidad. A través de su excelencia en servicios de software y servicios de software personalizados. 
                     Su historia muestra su evolución de una pequeña empresa local a un empresa tecnológica respetada.
                </p>
            </div>
            <div class="md:w-1/2">
                <img src="https://cdn.discordapp.com/attachments/1154178710342217748/1163268607812317245/tinywow_change_bg_photo_37348541.png?ex=65482fd0&is=6535bad0&hm=7385c711c94026f446177b03dd5f841ad60ebbc86ca849d35ef0b756f3ef0da4&" alt="Texto alternativo de la imagen" class="w-full md:object-right">
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center h-auto bg-gray-100">
        <div class="max-w-3xl bg-white p-4 rounded-lg shadow-md border border-gray-200 animate__animated animate__fadeIn animate__delay-2s w-full">
            <h1 class="text-3xl font-bold mb-2">Nuestros Servicios</h1>
            <p>
                &#8226;&nbsp;Desarrollo de Software a Medida
                <br>
                &#8226;&nbsp;Consultoría de Software
                <br>
                &#8226;&nbsp;Sistemas de Gestión Empresarial
                <br>
                &#8226;&nbsp;Aplicaciones Móviles y Soluciones Web
                <br>
                &#8226;&nbsp;Soporte Técnico y Mantenimiento Continuo

            </p>
        </div>
    </div>

    <div class="flex justify-center items-center h-auto bg-gray-100">
        <div class="max-w-3xl bg-white p-4 rounded-lg shadow-md border border-gray-200 animate__animated animate__fadeIn animate__delay-4s w-full">
            <h1 class="text-3xl font-bold mb-2">Nuestra Trayectoria</h1>
            <p>
                CodeCrafters S.A. de C.V. se distingue como una empresa líder en el ámbito de la consultoría de servicios de software, con un enfoque especializado en proporcionar soluciones tecnológicas personalizadas 
                que se adaptan a las necesidades específicas de nuestros clientes. Nuestra empresa se dedica principalmente al desarrollo de software a medida y ofrece una variedad de productos y servicios relacionados con la tecnología. 
                Nuestro equipo de profesionales altamente capacitados y experimentados está listo para ayudarlo a desarrollar soluciones tecnológicas que se adapten a sus necesidades.
            </p>
        </div>
    </div>

{% endblock %}
