{% extends 'base.html' %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">
    <i class="fas fa-plus-circle"></i> Nuevo movimiento de inventario
</h1>

<form action="{% url 'inventory' %}" method="POST" class="w-full max-w-md p-4 border border-gray-300 bg-gray-800 text-white rounded-md">
    {% csrf_token %}
    <div class="mb-4 flex items-center">
        <label for="move_date" class="w-1/4 text-left text-gray-300">Fecha del movimiento</label>
        <input type="date" name="move_date" id="move_date" required class="w-3/4 p-2 border rounded-md text-gray-700">
    </div>
    <div class="mb-4 flex items-center">
        <label for="move_description" class="w-1/4 text-left text-gray-300">Descripción del movimiento</label>
        <input type="text" name="move_description" id="move_description" required class="w-3/4 p-2 border rounded-md text-gray-700">
    </div>
    <div class="mb-4 flex items-center">
        <label for="move_type" class="w-1/4 text-left text-gray-300">Tipo de movimiento</label>
        <select name="move_type" id="move_type" required class="w-3/4 p-2 border rounded-md text-gray-700">
            <option value="output">Salida</option>
            <option value="input">Entrada</option>
        </select>
    </div>
    <div class="mb-4 flex items-center">
        <label for="move_quantity" class="w-1/4 text-left text-gray-300">Cantidad</label>
        <input type="number" name="move_quantity" id="move_quantity" required class="w-3/4 p-2 border rounded-md text-gray-700">
    </div>
    <div class="mb-4 flex items-center">
        <label for="move_unitPrice" class="w-1/4 text-left text-gray-300">Precio unitario</label>
        <input type="text" name="move_unitPrice" id="move_unitPrice" required class="w-3/4 p-2 border rounded-md text-gray-700">
    </div>
    
    <label for="stock" style="display: none;">Stock</label>
    {% comment %} Visibilidad de stock, display: none {% endcomment %}
    <select name="stock" id="stock" style="display: none;">
        {% for stock in stocks %}
            <option value="{{ stock.id }}">{{ stock.stock_name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md" onclick="return confirm('¿Desea guardar los datos?');">Guardar</button>
</form>


    <h1 style="color: #333; font-size: 24px; font-weight: bold;">
        <i class="fas fa-table"></i> Registro de inventario
    </h1>

    
    <!-- Mostrar el valor del inventario -->

    <!--Mostra historial de movimientos -->
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="p-2 border" colspan="12">Inventario de Software de CodeCrafters S.A. de C.V.</th>
            </tr>
            <tr>
                <th class="bg-gray-800 p-2 border" colspan="12" >Costo Promedio Ponderado CPP</th>
            </tr>
            <tr>
                <th rowspan="2" class="bg-gray-800 p-2 border">Fecha</th>
                <th rowspan="2" class="bg-gray-800 p-2 border" >Descripción</th>
                <th colspan="3" class="bg-gray-800 p-2 border">Entradas</th>
                <th colspan="3" class="bg-gray-800 p-2 border" >Salidas</th>
                <th colspan="3" class="bg-gray-800 p-2 border">Existencias</th>
            </tr>
            <tr>
                <th class="p-2 border">Cantidad</th>
                <th class="p-2 border">Costo</th>
                <th class="p-2 border">Total</th>
                <th class="p-2 border">Cantidad</th>
                <th class="p-2 border">Costo</th>
                <th class="p-2 border">Total</th>
                <th class="p-2 border">Cantidad</th>
                <th class="p-2 border">Costo</th>
                <th class="p-2 border">Total</th>
            </tr>
        </thead>
        {% for move in moves %}
            <tr class="hover:bg-gray-100">
                <td class="p-2 border">{{ move.move_date }}</td>
                <td class="p-2 border">{{ move.move_description }}</td>
                {% if move.move_type == "input" %}
                    <td class="p-2 border">{{ move.move_quantity }}</td>
                    <td class="p-2 border"><p>$ {{ move.move_unitPrice }}</p></td>
                    <td class="p-2 border"><p>$ {{ move.move_price }}</p></td>
                    <td class="p-2 border"></td>
                    <td class="p-2 border"></td>
                    <td class="p-2 border"></td>
                {% elif move.move_type == "output" %}
                    <td class="p-2 border"></td>
                    <td class="p-2 border"></td>
                    <td class="p-2 border"></td>
                    <td class="p-2 border">{{ move.move_quantity }}</td>
                    <td class="p-2 border"><p>$ {{ move.stock_unitPrice }}</p></td>
                    <td class="p-2 border"><p>$ {{ move.move_price }}</p></td>
                {% endif %}
                <td class="p-2 border">{{ move.stock_quantity }}</td>
                <td class="p-2 border"><p>$ {{ move.stock_unitPrice }}</p></td>
                <td class="p-2 border"><p>$ {{ move.stock_price }}</p></td>
            </tr>
        {% endfor %}
    </table>

    <!-- Mostrar el valor del inventario -->
    {% for stock in stocks %}
      <p class="bg-gray-800 text-white p-2 font-bold">Valor del inventario: ${{ stock.stock_price }}</p>
    {% endfor %}


    
{% endblock %}
