{% extends 'base.html' %}

{% block content %}
    <div class="mt-4 ml-4"> <!-- Agregar margen superior e izquierdo -->
        <h1 class="text-3xl font-bold mb-4">
            <i class="fas fa-tasks"></i> Catálogo de cuentas
        </h1>

        <table class="w-1/2 border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-800 text-white"> <!-- Cambiar el fondo y el color del texto para la fila de encabezados -->
                    <th class="text-left px-4 py-2" style="width: 3%;">Nº</th>
                    <th class="text-left px-4 py-2" style="width: 5%;">Categoría</th>
                    <th class="text-left px-4 py-2" style="width: 5%;">Código</th>
                    <th class="text-left px-4 py-2" style="width: 40%;">Nombre de cuenta</th>
                </tr>
            </thead>
            <tbody>
                {% for category_data in categorized_accounts %}
                <tr class="bg-white"> <!-- Establecer el fondo blanco para las filas de datos -->
                    <td class="border border-gray-300 px-4 py-2" rowspan="{{ category_data.category.rowspan }}">{{ forloop.counter }}</td>
                    <td class="border border-gray-300 px-4 py-2" rowspan="{{ category_data.category.rowspan }}"><strong>{{ category_data.category.name }}</strong></td>
                </tr>
                {% for account in category_data.accounts %}
                    <tr class="bg-white"> <!-- Establecer el fondo blanco para las filas de datos -->
                        <td class="border border-gray-300 px-4 py-2">{{ account.code }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ account.name }}</td>
                    </tr>
                {% endfor %}
                {% empty %}
                    <tr class="bg-white"> <!-- Establecer el fondo blanco para la fila de "No hay cuentas disponibles" -->
                        <td class="border border-gray-300 px-4 py-2" colspan="4">No hay cuentas disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
