{% extends 'base.html' %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">
    <i class="fas fa-book"></i> Registra nuevo libro mayor
</h1>


    <!-- Formulario de Registro de Libro Mayor -->
    <form action="/ledgers/" method="POST" class="max-w-md p-4 border border-gray-300 bg-gray-800 text-white rounded-md">
        {% csrf_token %}
        <div class="mb-4 flex items-center">
            <label for="start_date" class="w-1/4 text-left text-gray-300">Fecha de inicio</label>
            <input type="date" name="start_date" id="start_date" class="w-3/4 p-2 border rounded-md text-gray-700">
        </div>
        <div class="mb-4 flex items-center">
            <label for="end_date" class="w-1/4 text-left text-gray-300">Fecha de fin</label>
            <input type="date" name "end_date" id="end_date" class="w-3/4 p-2 border rounded-md text-gray-700">
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">Guardar</button>
    </form>

    <!-- Lista de Libros Mayores -->
    <h1 class="text-3xl font-bold mt-8 mb-4">Libros mayores</h1>

    <ul class="list-disc pl-6">
        {% for ledger in ledgers %}
            <li>
                <a href="{% url 'ledger' ledger.id %}" class="text-blue-500 hover:underline">Fecha inicio: {{ ledger.start_date }} - Fecha final: {{ ledger.end_date }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
