{% extends 'base.html' %}

{% block content %}
    <h1>Libro mayor</h1>
    <h2>{{ ledger.start_date }} - {{ ledger.end_date }}</h2>
    {% for category_name, accounts in categorized_accounts.items %}
        <h1>{{ category_name }}</h1>
        {% for account in accounts %}
            <h2>{{ account.name }}</h2>
            <table>
                <tr>
                    <th>Debe</th>
                    <th>Haber</th>
                </tr>
                {% for transaction in account.transactions.all %}
                    <tr>
                        <td>{{ transaction.transaction_debit_amount }}</td>
                        <td>{{ transaction.transaction_credit_amount }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No hay transacciones para esta
                            cuenta.
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% empty %}
        <p>No hay cuentas disponibles.</p>
    {% endfor %}
{% endblock %}
