{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-between items-center">
        <h1 class="text-3xl font-semibold mb-4">
            <i class="fas fa-book"></i> Libro mayor
        </h1>
        <a href="{%url 'ledgers'%}" class="text-blue-500 hover:text-blue-700">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>

    <h2 class="text-xl mb-8">{{ ledger.start_date }} - {{ ledger.end_date }}</h2>
    {% for category_name, accounts in categorized_accounts.items %}
        <h1 class="text-2xl font-semibold mt-6">{{ category_name }}</h1>
        {% for account in accounts %}
            <h2 class="text-xl font-semibold mt-4">{{ account.name }}</h2>
            <table class="table-auto border-collapse border">
                <tr class="bg-gray-200">
                    <th class="border p-2">Debe</th>
                    <th class="border p-2">Haber</th>
                </tr>
                {% for transaction in account.transactions.all %}
                    <tr class="border">
                        <td class="border p-2">{{ transaction.transaction_debit_amount }}</td>
                        <td class="border p-2">{{ transaction.transaction_credit_amount }}</td>
                    </tr>
                {% empty %}
                    <tr class="border">
                        <td class="border p-2" colspan="2">No hay transacciones para esta cuenta.</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% empty %}
        <p class="text-lg mt-4">No hay cuentas disponibles.</p>
    {% endfor %}
{% endblock %}
