{% extends 'base.html' %}

{% block content %}
    <h1>Registrar Nueva Transacción</h1>

    <form action="/transaction/" method="POST">
        {% csrf_token %}
        <label for="transaction_date">Fecha de Transacción</label>
        <input type="datetime-local" name="transaction_date"
               id="transaction_date" required>
        <br>
        <label for="account">Cuenta</label>
        <select name="account" id="account" required>
            {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="transaction_type">Tipo de Transacción</label>
        <select name="transaction_type" id="transaction_type" required>
            <option value="debit">Debe</option>
            <option value="credit">Haber</option>
        </select>
        <br>
        <label for="amount">Monto</label>
        <input type="number" name="amount" id="amount" required>
        <br>
        <label for="transaction_description">Descripción</label>
        <input type="text" name="transaction_description"
               id="transaction_description">
        <br>
        <button>Agregar</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Cuenta</th>
            <th>Nombre</th>
            <th>Debe</th>
            <th>Haber</th>
            <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_date }}</td>
                <td>{{ transaction.account.code }}</td>
                <td>{{ transaction.account.name }}</td>
                <td>{{ transaction.transaction_debit_amount }}</td>
                <td>{{ transaction.transaction_credit_amount }}</td>
                <td>{{ transaction.transaction_description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}