{% extends 'base.html' %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4">
        <i class="fas fa-plus-circle"></i> Registrar Nueva Transacción
    </h1>

    <!-- Formulario de Transacción -->
    <form action="/transaction/" method="POST" class="w-full max-w-md p-4 border border-gray-300 bg-gray-800 text-white rounded-md">
        {% csrf_token %}
        <div class="mb-4 flex items-center">
            <label for="transaction_date" class="w-1/4 text-left text-gray-300">Fecha de Transacción</label>
            <input type="datetime-local" name="transaction_date" id="transaction_date" required class="w-3/4 p-2 border rounded-md text-gray-700">
        </div>
        <div class="mb-4 flex items-center">
            <label for="account" class="w-1/4 text-left text-gray-300">Cuenta</label>
            <select name="account" id="account" required class="w-3/4 p-2 border rounded-md text-gray-700">
                {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4 flex items-center">
            <label for "transaction_type" class="w-1/4 text-left text-gray-300">Tipo de Transacción</label>
            <select name="transaction_type" id="transaction_type" required class="w-3/4 p-2 border rounded-md text-gray-700">
                <option value="debit">Debe</option>
                <option value="credit">Haber</option>
            </select>
        </div>
        <div class="mb-4 flex items-center">
            <label for="amount" class="w-1/4 text-left text-gray-300">Monto</label>
            <input type="number" name="amount" id="amount" required class="w-3/4 p-2 border rounded-md text-gray-700">
        </div>
        <div class="mb-4 flex items-center">
            <label for="transaction_description" class="w-1/4 text-left text-gray-300">Descripción</label>
            <input type="text" name="transaction_description" id="transaction_description" class="w-3/4 p-2 border rounded-md text-gray-700">
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">Agregar</button>
    </form>

    <!-- Tabla de Transacciones -->
    <table class="w-full mt-8 bg-white border border-gray-300">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="p-2 border">Fecha</th>
                <th class="p-2 border">Cuenta</th>
                <th class="p-2 border">Nombre</th>
                <th class="p-2 border">Debe</th>
                <th class="p-2 border">Haber</th>
                <th class="p-2 border">Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr class="hover:bg-gray-100">
                    <td class="p-2 border">{{ transaction.transaction_date }}</td>
                    <td class="p-2 border">{{ transaction.account.code }}</td>
                    <td class="p-2 border">{{ transaction.account.name }}</td>
                    <td class="p-2 border">{{ transaction.transaction_debit_amount }}</td>
                    <td class="p-2 border">{{ transaction.transaction_credit_amount }}</td>
                    <td class="p-2 border">{{ transaction.transaction_description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

